extends layout

block content
  h1= title

  if authors.length > 0
    ul
      each author in authors 
        li
          if author.date_of_death
            a(href=author.url) #{ author.full_name } | #{ author.dob_pretty } - #{ author.dod_pretty }
          else
            a(href=author.url) #{ author.full_name } | #{ author.dob_pretty }
  else
    span There are no authors
